<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Questions</th>
    <th>Actions</th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= link_to survey.name, survey %></td>
    <td><%= survey.questions.count %></td>
    <td>
      <%= link_to 'Show', survey %> |
      <%= link_to 'Edit', edit_survey_path(survey) %> |
      <%= link_to 'Destroy', survey, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_survey_path %>
