<!DOCTYPE html>
<html>
<head>
  <title>Ask</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" data-route="'/'">Ask</a>
        <ul class="nav">
          <li class="active"><a data-route="'/'">Home</a></li>
          <li><a data-route="Survey">Surveys</a></li>
          <li><a>Contact</a></li>
        </ul>
        <ul class="nav secondary-nav">
          <li><%= link_to('Sign Out', destroy_customer_session_path, :method => :delete) %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sidebar">
    </div>
    <div class="content" data-yield="main">
    </div>
    <footer>
      <p>&copy; Ask 2011</p>
    </footer>
  </div>
</body>
</html>
