<!DOCTYPE html>
<html>
<head>
  <title>Ask</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "external" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">Ask</a>
        <ul class="nav">
          <li class="active"><%= link_to "Sign In", new_customer_session_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sidebar">
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <p>&copy; Company 2011</p>
    </footer>
  </div>
</body>
</html>
