<!DOCTYPE html>
<html>
<head>
  <title>Ask</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "external" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" data-route="'/'"><%= image_tag 'whadyathink.png' %></a>
        <ul class="nav">
          <li class="active"><%= link_to "Sign In", new_customer_session_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="sidebar">
    </div>
    <div class="content">
      <% if flash[:error].present? %>
      <div class="alert-message error">
        <p><%= flash[:error] %></p>
      </div>
      <% end %>
      <% if flash[:alert].present? %>
      <div class="alert-message warning">
        <p><%= flash[:alert] %></p>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <p>&copy; Whadyathink 2012</p>
    </footer>
  </div>
</body>
</html>
